@import "~antd/dist/antd.css";

.dashboard {
  background-color: #3333338e;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* try */
  position: absolute;
  margin-left: 310px;
}

body {
  background-color: #3333338e;
  /* try */
}

.dashboard .ant-card {
  width: 100%;
  max-width: 850px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 30px;
}

.ant-card-actions {
  /* background-color:rgba(139, 139, 139, 0.575); */
  border-radius: 30px;
  border: none;
}

.ant-card-actions li {
  border: none;
}

.ant-form-inline .ant-form-item {
  margin-bottom: 20px;
}

.ant-list-item-meta-description {
  color: rgba(19, 3, 3, 0.651);
}

li.ant-list-item {
  border: none;
  background-color: white;
}

.ant-card-head-title {
  font-size: 20px;
}
#danger-button {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

#danger-button:hover {
  background: rgba(221, 4, 4, 0.918);
  color: white;
}

/* .ant-select {
  min-width: 50px;
  background-color: orange;
} */
.ant-select-selection-item {
  padding-right: 0 !important;
}
.ant-input {
  color: brown;
  font-family: sans-serif;
}

@media only screen and(max-width: 800px) {
  .dashboard {
    background-color: tomato;
  }
}
