.home {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  position: absolute;
  margin-left: 240px;
  padding: 40px;
  margin-bottom: 110px;
  margin-right: 50px;
  top : 60px;
}

p {
  position: relative;
  font-size: 30px;
  top: 0px;
  max-width: 800px;
  margin-left: 50px;
  color: #86ad95;
}

@media(max-width: 400px) {

  p{
    top: 128px;
    left: -200px;
    margin-right: -100px;
    font-size: 20px;
  }
}

@media(max-width: 800px) {

  p{
    top: 158px;
    left: -200px;
    margin-right: -200px;
    font-size: 20px;
  }
}